<div id="container">
    <div id="main-section" #background>
        <div class="layer" id="layer_1" data-depth='0.10' data-type='parallax'></div>
        <div class="layer" id="layer_3" data-depth='0.20' data-type='parallax'></div>
        <div class="layer" id="layer_4" data-depth='0.50' data-type='parallax'></div>
        <div class="layer" id="layer_5" data-depth='0.80' data-type='parallax'></div>
        <div class="layer" id="layer_6" data-depth='1' data-type='parallax'></div>

        <!-- <div class="d-flex h-100 justify-content-end animated fadeInUp slow delay-3s"><img src="./assets/images/rocket2.png" id="rocket" class="img-fluid animated fadeInUp delay-4rs" alt=""></div> -->
        <!-- <div class="animated fadeIn">
            <img src="./assets/images/cloud_layer1.png" id="cloud-1" class="img-fluid animated fadeIn delay-4s" alt="">
            <div class="planets w-100">
                <div class="d-flex align-content-center justify-content-center">
                    <img src="./assets/images/planet3.png" alt="" class="img-fluid planet">
                    <h3>TIERRA</h3>
                </div>
                <div class="d-flex align-content-center justify-content-center">
                    <img src="./assets/images/planet5.png" alt="" class="img-fluid planet">
                    <h3>LUNA</h3>
                </div>
                <div class="d-flex align-content-center justify-content-center">
                    <img src="./assets/images/planet4.png" alt="" class="img-fluid planet">
                    <h3>VENUS</h3>
                </div>
    
            </div>
        </div>
        <div class="animated fadeIn">
            <img src="./assets/images/cloud_layer2.png" id="cloud-2" class="img-fluid" alt="">
        </div> -->
    </div>
    <div class="content">
        <h1 class="text-white">Hola espacio</h1>
    </div>
</div>