<div id="container">
    <div id="main-section" #background>
        <a href="">
        </a>
        <div class="layer layerImage" id="layer_1" data-depth='0.10' data-type='parallax'></div>

        <div class="layer layerImage" id="layer_3" data-depth='0.20' data-type='parallax'></div>

        <div class="layer layerImage" id="layer_4" data-depth='0.35' data-type='parallax'></div>
        <div class="layer layerImage" id="layer_5" data-depth='0.50' data-type='parallax'></div>
        <div class="layer layerImage" id="layer_6" data-depth='0.70' data-type='parallax'></div>

        <div class="w-100 h-100 text-white position-fixed d-flex flex-column align-content-center layer" id="logo" data-depth='0.30'>
            <h5 class="text-center mb-0 animated fadeInDown delay-4s slow">Bienvenidos a</h5>
            <h1 class="text-center mb-2 animated fadeInUp delay-4s slow"><a href="javascript:void(0)" id="titleLogo">ASTERIUS</a></h1>
            <p class="text-center animated fadeIn delay-5s">Dale clic a asterius para que podamos pedir un deseo</p>
        </div>

    </div>
    <div class="content">
        <h1 class="text-white">Contenido en proceso</h1>
    </div>
</div>