    .logoWhite {
        max-width: 5rem;
    }
    
    .navbar {
        background-image: url("../../assets/images/skyMenu.png");
        background-position: 0px -5.9rem;
        background-size: 100.3rem;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }