<div id="contenedor" [class]="pageClases.join(' ')" [hidden]="isHide">
    <app-langs class="lang"></app-langs>
    <div id="background">
        <div [class]="containerClases + ' d-flex flex-column align-content-center w-100 h-90'">
            <div [class]="'animated align-self-center h-100 w-100 position-relative ' + imageClases.join(' ')" id="logo">
                <img src="assets/images/circle.png" class="img-fluid logoImg" alt="Responsive image" />
                <img src="assets/images/rocketLogo.png" class="img-fluid logoImg" alt="Responsive image" />
            </div>

            <app-login (response)="endingPreloading($event)" id="buttons" [class]="'d-flex flex-column container animated ' + inputClases.join(' ')"></app-login>
        </div>
    </div>
</div>