<mat-form-field class="select mr-5">
    <mat-select [(value)]="defaultLan" (selectionChange)="changeIdiom($event.value)">
        <mat-option value="es">
            <div class="row">
                <div class="col-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/asterius-f1308.appspot.com/o/es.png?alt=media&token=824e9240-115b-4e3f-b63a-faccefdf1187" class="img-fluid" alt="" />
                </div>
                <div class="col-3 text-black-">
                    Español
                </div>
            </div>
        </mat-option>

        <mat-option value="en">
            <div class="row">
                <div class="col-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/asterius-f1308.appspot.com/o/enUSA.png?alt=media&token=a4b7f7ea-ebe7-4b3d-a060-cf5d5e6e7a6a" class="img-fluid" alt="" />
                </div>
                <div class="col-3 text-black-">
                    English
                </div>
            </div>
        </mat-option>
    </mat-select>
</mat-form-field>