<div id="contenedor" class="animated pageOutUp delay-3s slow" [hidden]="isHide">
    <div id="background">
        <div [class]="containerClases + ' d-flex flex-column align-content-center w-100 h-100'">
            <img src="assets/images/logo.png" [class]="'img-fluid animated align-self-center ' + imageClases.join(' ')" alt="Responsive image" id="logo">

            <div class="align-self-center mt-5 animated fadeInUp delay-1s" id="spinnerC">
                <div class="lds-ring animated fadeOut delay-2s">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>