#background {
    height: 100vh;
}

#contenedor {
    background-color: rgb(247, 243, 243);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

#logo {
    max-width: 20rem;
    justify-self: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border: 0.5rem solid #00A79D;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #00A79D transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pageOutUp {
    from {
        height: 100%;
    }
    to {
        height: 0%;
        display: none;
    }
}

@keyframes pageOutUp {
    from {
        height: 100%;
    }
    to {
        height: 0%;
        display: none;
    }
}

.pageOutUp {
    -webkit-animation-name: pageOutUp;
    animation-name: pageOutUp;
}

@-webkit-keyframes logoZoomOutToTopLeft {
    to {
        transform: translate3d(-46.55rem, -17.5rem, 0);
        max-width: 7rem;
    }
}

@keyframes logoZoomOutToTopLeft {
    0% {
        transform: translate3d(52%, 52%, 0);
    }
    to {
        max-width: 5.1rem;
        margin-left: 0.9rem;
        margin-top: 0.8rem;
    }
}

.logoZoomOutToTopLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-name: logoZoomOutToTopLeft;
    animation-name: logoZoomOutToTopLeft;
}

@-webkit-keyframes fadeOutCustom {
    from {
        max-width: 5.1rem;
        opacity: 1;
        margin-left: 0.9rem;
        margin-top: 0.8rem;
    }
    to {
        max-width: 5.1rem;
        opacity: 0;
        margin-left: 0.9rem;
        margin-top: 0.8rem;
    }
}

@keyframes fadeOutCustom {
    from {
        max-width: 5.1rem;
        opacity: 1;
        margin-left: 0.9rem;
        margin-top: 0.8rem;
    }
    to {
        max-width: 5.1rem;
        opacity: 0;
        margin-left: 0.9rem;
        margin-top: 0.8rem;
    }
}

.fadeOutCustom {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: fadeOutCustom;
    animation-name: fadeOutCustom;
}

#spinnerC {
    justify-self: center;
}

@media only screen and (min-width-device: 360px) and (max-width-device: 400px) {
    @-webkit-keyframes logoZoomOutToTopLeft {
        to {
            transform: translate3d(-46.55rem, -17.5rem, 0);
            max-width: 5rem;
        }
    }
    @keyframes logoZoomOutToTopLeft {
        to {
            transform: translate3d(-7.8rem, -12.85rem, 0);
            max-width: 5rem;
        }
    }
}